#
# Development requirements
#

invoke==0.12.2
#rituals==0.3.0
-e git+https://github.com/jhermann/rituals.git#egg=rituals

bpython==0.15.0
yolk3k==0.9
pythonpy==0.4.11

pylint==1.5.6
tox==2.3.1
twine==1.6.5

-r test-requirements.txt
-r requirements.txt
-e .
